<%= form_for(@task, :html => {:class => "form-horizontal", :role=>"form"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label for="task_date">Date</label><br>
    <input type="text" name="task[date]" class="datepicker"/>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <input type="text" name="task[starttime]" class="input-small timepicker"/>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <input type="text" name="task[endtime]" class="input-small timepicker"/>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.collection_select(:project_id, Project.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
