<%= form_for(@task, :html => {:class => "form-horizontal", :role=>"form"}) do |f| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
      <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :date, class: 'control-label' %>
    <%= f.text_field :date, class: 'datepicker form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :starttime, class: 'control-label' %>
    <%= f.text_field :starttime, class: 'timepicker form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :endtime, class: 'control-label' %>
    <%= f.text_field :endtime, class: 'timepicker form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :project_id, class: 'control-label' %>
    <%= projects_select_tag f %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn-primary"%>
    <%= f.submit "Create and Continue", name: "create_and_continue" , class: 'btn' %>
  </div>
<% end %>
