<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.start_at.to_s(:date) %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @task.start_at.to_s(:time) %>
</p>

<p>
  <strong>End at:</strong>
  <%= @task.end_at.to_s(:time) %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @task.project.name, @task.project %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
