<h2></h2>
<%= form_tag :report_by_day, method: :get do %>
  <p>year: <%= text_field_tag "year", params[:year] %>
  <p>month:<%= text_field_tag "month", params[:month] %>
  <p>day:  <%= text_field_tag "day", params[:day] %>
  <input id="e1" name="e1">
  <%= submit_tag "表示" %><%= submit_tag "csv" %></p>
<% end %>