<!DOCTYPE html>
<html>
<head>
  <title>Kousu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= form_tag :report_by_day, method: :get do %>
        <input id="e1" name="range">
        <%= submit_tag "表示" %><%= submit_tag "csv" %>
      <% end %>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="table-responsive">
      <%= yield %>
    </div>
  </div>

</body>
</html>
